.container {
  height: 40px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.isSeenIcon {
  height: 20px;
  margin-right: 5px;
}

.movieWasSeen {
  filter: grayscale(100%);
  color: grey;
  text-decoration: line-through;
}
